**
!package.json
!package-lock.json
!tsconfig.json
!patches
!src
!client
!assets
!scripts/client.js
!scripts/e2ee-anchors.js
!scripts/clan-badges.js
!scripts/compress-client.js
!scripts/vencord.js
!scripts/default-avatars.js
!scripts/docker-configure.js
!extra/pion-sfu
!docker
assets/cache
assets/cache_compressed
assets/cacheMisses
assets/cacheFailures
assets/vencord
assets/collectibles.json
assets/detectable.json
extra/pion-sfu/pion-sfu
**/.DS_Store
**/node_modules

.e2ee-recovery.key*
