{
    "openapi": "3.1.0",
    "info": {
        "title": "Spacebar Server",
        "description": "Spacebar is a Discord.com server implementation and extension, with the goal of complete feature parity with Discord.com, all while adding some additional goodies, security, privacy, and configuration options.",
        "license": {
            "name": "AGPLV3",
            "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
        },
        "version": "1.0.0"
    },
    "externalDocs": {
        "description": "Spacebar Docs",
        "url": "https://docs.spacebar.chat"
    },
    "servers": [
        {
            "url": "https://api.rory.server.spacebar.chat/",
            "description": "Official Spacebar Instance"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Bearer/Bot prefixes are not required.",
                "bearerFormat": "JWT",
                "in": "header"
            }
        },
        "schemas": {
            "ApplicationCommandSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "type": {
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ],
                        "type": "number"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "name_localizations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "name_localized": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string"
                    },
                    "description_localizations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "description_localized": {
                        "type": "string",
                        "nullable": true
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationCommandOption"
                        }
                    },
                    "default_member_permissions": {
                        "type": "string",
                        "nullable": true
                    },
                    "dm_permission": {
                        "type": "boolean"
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/ApplicationCommandIndexPermissions"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "integration_types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationIntegrationType"
                        }
                    },
                    "global_popularity_rank": {
                        "type": "integer"
                    },
                    "contexts": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InteractionContextType"
                        }
                    },
                    "version": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "handler": {
                        "enum": [
                            1,
                            2,
                            3
                        ],
                        "type": "number"
                    }
                },
                "required": [
                    "application_id",
                    "default_member_permissions",
                    "description",
                    "name",
                    "version"
                ]
            },
            "InteractionSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/InteractionType"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "message_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "message_flags": {
                        "type": "integer"
                    },
                    "session_id": {
                        "type": "string"
                    },
                    "data": {
                        "$ref": "#/components/schemas/InteractionData"
                    },
                    "files": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {},
                            "additionalProperties": true
                        }
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "analytics_location": {
                        "type": "string"
                    },
                    "section_name": {
                        "type": "string"
                    },
                    "source": {
                        "type": "string"
                    }
                },
                "required": [
                    "application_id",
                    "channel_id",
                    "data",
                    "type"
                ]
            },
            "JsonArray": {
                "type": "object",
                "patternProperties": {
                    "^[0-9]+$": {
                        "$ref": "#/components/schemas/JsonValue"
                    }
                },
                "properties": {
                    "length": {
                        "type": "integer"
                    },
                    "__@unscopables@744": {
                        "type": "object",
                        "additionalProperties": false,
                        "patternProperties": {
                            "^[0-9]+$": {
                                "type": "boolean"
                            }
                        },
                        "properties": {
                            "length": {
                                "type": "boolean"
                            },
                            "toString": {
                                "type": "boolean"
                            },
                            "toLocaleString": {
                                "type": "boolean"
                            },
                            "pop": {
                                "type": "boolean"
                            },
                            "push": {
                                "type": "boolean"
                            },
                            "concat": {
                                "type": "boolean"
                            },
                            "join": {
                                "type": "boolean"
                            },
                            "reverse": {
                                "type": "boolean"
                            },
                            "shift": {
                                "type": "boolean"
                            },
                            "slice": {
                                "type": "boolean"
                            },
                            "sort": {
                                "type": "boolean"
                            },
                            "splice": {
                                "type": "boolean"
                            },
                            "unshift": {
                                "type": "boolean"
                            },
                            "indexOf": {
                                "type": "boolean"
                            },
                            "lastIndexOf": {
                                "type": "boolean"
                            },
                            "every": {
                                "type": "boolean"
                            },
                            "some": {
                                "type": "boolean"
                            },
                            "forEach": {
                                "type": "boolean"
                            },
                            "map": {
                                "type": "boolean"
                            },
                            "filter": {
                                "type": "boolean"
                            },
                            "reduce": {
                                "type": "boolean"
                            },
                            "reduceRight": {
                                "type": "boolean"
                            },
                            "find": {
                                "type": "boolean"
                            },
                            "findIndex": {
                                "type": "boolean"
                            },
                            "fill": {
                                "type": "boolean"
                            },
                            "copyWithin": {
                                "type": "boolean"
                            },
                            "entries": {
                                "type": "boolean"
                            },
                            "keys": {
                                "type": "boolean"
                            },
                            "values": {
                                "type": "boolean"
                            },
                            "includes": {
                                "type": "boolean"
                            },
                            "flatMap": {
                                "type": "boolean"
                            },
                            "flat": {
                                "type": "boolean"
                            },
                            "at": {
                                "type": "boolean"
                            },
                            "findLast": {
                                "type": "boolean"
                            },
                            "findLastIndex": {
                                "type": "boolean"
                            },
                            "toReversed": {
                                "type": "boolean"
                            },
                            "toSorted": {
                                "type": "boolean"
                            },
                            "toSpliced": {
                                "type": "boolean"
                            },
                            "with": {
                                "type": "boolean"
                            },
                            "__@iterator@742": {
                                "type": "boolean"
                            },
                            "__@unscopables@744": {
                                "type": "boolean"
                            }
                        }
                    }
                },
                "required": [
                    "__@unscopables@744",
                    "length"
                ]
            },
            "InstanceUserDeleteSchema": {
                "$ref": "#/components/schemas/InstanceUserDeleteSchemaContent"
            },
            "PublicMemberListResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/PublicMember"
                }
            },
            "PartialRelationshipSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/RelationshipType"
                    },
                    "nickname": {
                        "type": "string",
                        "nullable": true
                    },
                    "since": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "stranger_request": {
                        "type": "boolean"
                    },
                    "user_ignored": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "id",
                    "nickname",
                    "type",
                    "user_ignored"
                ]
            },
            "RelationshipListSchema": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/RelationshipSchema"
                }
            },
            "RelationshipSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/RelationshipType"
                    },
                    "user": {
                        "$ref": "#/components/schemas/PartialUser"
                    },
                    "nickname": {
                        "type": "string",
                        "nullable": true
                    },
                    "is_spam_request": {
                        "type": "boolean"
                    },
                    "stranger_request": {
                        "type": "boolean"
                    },
                    "user_ignored": {
                        "type": "boolean"
                    },
                    "origin_application_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "since": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "has_played_game": {
                        "type": "boolean"
                    },
                    "note": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "nickname",
                    "type",
                    "user",
                    "user_ignored"
                ]
            },
            "SendRelationshipRequestSchema": {
                "type": "object",
                "properties": {
                    "username": {
                        "type": "string"
                    },
                    "discriminator": {
                        "type": "string",
                        "nullable": true
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "discriminator",
                    "username"
                ]
            },
            "RelationshipCreateSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "enum": [
                            -1,
                            0,
                            1,
                            2,
                            3,
                            4,
                            5,
                            6
                        ],
                        "type": "number"
                    },
                    "from_friend_suggestion": {
                        "type": "boolean"
                    },
                    "confirm_stranger_request": {
                        "type": "boolean"
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "RelationshipModifySchema": {
                "type": "object",
                "properties": {
                    "nickname": {
                        "type": "string"
                    }
                }
            },
            "UserMutualRelationResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "discriminator": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string"
                    },
                    "public_flags": {
                        "type": "integer"
                    }
                },
                "required": [
                    "discriminator",
                    "id",
                    "public_flags",
                    "username"
                ]
            },
            "UserMutualRelationsResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/UserMutualRelationResponse"
                }
            },
            "SessionsLogoutSchema": {
                "type": "object",
                "properties": {
                    "session_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "session_id_hashes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "GetSessionsResponse": {
                "type": "object",
                "properties": {
                    "user_sessions": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "id_hash": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string"
                                },
                                "activities": {
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/Activity"
                                        }
                                    }
                                },
                                "client_status": {
                                    "$ref": "#/components/schemas/ClientStatus"
                                },
                                "approx_last_used_time": {
                                    "type": "string"
                                },
                                "client_info": {
                                    "type": "object",
                                    "properties": {
                                        "client": {
                                            "type": "string"
                                        },
                                        "os": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "integer"
                                        },
                                        "location": {
                                            "type": "string"
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": [
                                        "client",
                                        "location",
                                        "os",
                                        "version"
                                    ]
                                },
                                "last_seen": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "last_seen_ip": {
                                    "type": "string"
                                },
                                "last_seen_location": {
                                    "type": "string"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "activities",
                                "approx_last_used_time",
                                "client_info",
                                "client_status",
                                "id",
                                "id_hash",
                                "status"
                            ]
                        }
                    }
                },
                "required": [
                    "user_sessions"
                ]
            },
            "UserAccountModifySchema": {
                "type": "object",
                "properties": {
                    "global_name": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "UserProfileModifySchema": {
                "type": "object",
                "properties": {
                    "pronouns": {
                        "type": "string",
                        "nullable": true
                    },
                    "bio": {
                        "type": "string",
                        "nullable": true
                    },
                    "banner": {
                        "type": "string",
                        "nullable": true
                    },
                    "accent_color": {
                        "type": "integer",
                        "nullable": true
                    },
                    "theme_colors": {
                        "anyOf": [
                            {
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                }
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "popout_animation_particle_type": {
                        "type": "string",
                        "nullable": true
                    },
                    "emoji_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "profile_effect_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "collectibles_sku_ids": {
                        "anyOf": [
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                }
            },
            "UserSettingsUpdateSchema": {
                "type": "object",
                "properties": {
                    "activity_restricted_guild_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "activity_joining_restricted_guild_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "allow_accessibility_detection": {
                        "type": "boolean"
                    },
                    "allow_activity_party_privacy_friends": {
                        "type": "boolean"
                    },
                    "allow_activity_party_privacy_voice_channel": {
                        "type": "boolean"
                    },
                    "animate_emoji": {
                        "type": "boolean"
                    },
                    "animate_stickers": {
                        "type": "integer"
                    },
                    "contact_sync_enabled": {
                        "type": "boolean"
                    },
                    "convert_emoticons": {
                        "type": "boolean"
                    },
                    "custom_status": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomStatus"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "default_guilds_restricted": {
                        "type": "boolean"
                    },
                    "detect_platform_accounts": {
                        "type": "boolean"
                    },
                    "developer_mode": {
                        "type": "boolean"
                    },
                    "disable_games_tab": {
                        "type": "boolean"
                    },
                    "enable_tts_command": {
                        "type": "boolean"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "friend_discovery_flags": {
                        "type": "integer"
                    },
                    "friend_source_flags": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/FriendSourceFlags"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "gif_auto_play": {
                        "type": "boolean"
                    },
                    "guild_folders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildFolder"
                        }
                    },
                    "inline_attachment_media": {
                        "type": "boolean"
                    },
                    "inline_embed_media": {
                        "type": "boolean"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "message_display_compact": {
                        "type": "boolean"
                    },
                    "native_phone_integration_enabled": {
                        "type": "boolean"
                    },
                    "passwordless": {
                        "type": "boolean"
                    },
                    "render_embeds": {
                        "type": "boolean"
                    },
                    "render_reactions": {
                        "type": "boolean"
                    },
                    "restricted_guilds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "show_current_game": {
                        "type": "boolean"
                    },
                    "slayer_sdk_receive_dms_in_game": {
                        "type": "integer"
                    },
                    "soundboard_volume": {
                        "type": "integer"
                    },
                    "status": {
                        "enum": [
                            "dnd",
                            "idle",
                            "invisible",
                            "offline",
                            "online"
                        ],
                        "type": "string"
                    },
                    "stream_notifications_enabled": {
                        "type": "boolean"
                    },
                    "theme": {
                        "enum": [
                            "dark",
                            "darker",
                            "light",
                            "midnight"
                        ],
                        "type": "string"
                    },
                    "timezone_offset": {
                        "type": "integer"
                    },
                    "view_nsfw_commands": {
                        "type": "boolean"
                    },
                    "view_nsfw_guilds": {
                        "type": "boolean"
                    }
                }
            },
            "UserSettingsSchema": {
                "type": "object",
                "properties": {
                    "activity_restricted_guild_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "activity_joining_restricted_guild_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "allow_accessibility_detection": {
                        "type": "boolean"
                    },
                    "allow_activity_party_privacy_friends": {
                        "type": "boolean"
                    },
                    "allow_activity_party_privacy_voice_channel": {
                        "type": "boolean"
                    },
                    "animate_emoji": {
                        "type": "boolean"
                    },
                    "animate_stickers": {
                        "type": "integer"
                    },
                    "contact_sync_enabled": {
                        "type": "boolean"
                    },
                    "convert_emoticons": {
                        "type": "boolean"
                    },
                    "custom_status": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomStatus"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "default_guilds_restricted": {
                        "type": "boolean"
                    },
                    "detect_platform_accounts": {
                        "type": "boolean"
                    },
                    "developer_mode": {
                        "type": "boolean"
                    },
                    "disable_games_tab": {
                        "type": "boolean"
                    },
                    "enable_tts_command": {
                        "type": "boolean"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "friend_discovery_flags": {
                        "type": "integer"
                    },
                    "friend_source_flags": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/FriendSourceFlags"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "gif_auto_play": {
                        "type": "boolean"
                    },
                    "guild_folders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildFolder"
                        }
                    },
                    "inline_attachment_media": {
                        "type": "boolean"
                    },
                    "inline_embed_media": {
                        "type": "boolean"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "message_display_compact": {
                        "type": "boolean"
                    },
                    "native_phone_integration_enabled": {
                        "type": "boolean"
                    },
                    "passwordless": {
                        "type": "boolean"
                    },
                    "render_embeds": {
                        "type": "boolean"
                    },
                    "render_reactions": {
                        "type": "boolean"
                    },
                    "restricted_guilds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "show_current_game": {
                        "type": "boolean"
                    },
                    "slayer_sdk_receive_dms_in_game": {
                        "type": "integer"
                    },
                    "soundboard_volume": {
                        "type": "integer"
                    },
                    "status": {
                        "enum": [
                            "dnd",
                            "idle",
                            "invisible",
                            "offline",
                            "online"
                        ],
                        "type": "string"
                    },
                    "stream_notifications_enabled": {
                        "type": "boolean"
                    },
                    "theme": {
                        "enum": [
                            "dark",
                            "darker",
                            "light",
                            "midnight"
                        ],
                        "type": "string"
                    },
                    "timezone_offset": {
                        "type": "integer"
                    },
                    "view_nsfw_commands": {
                        "type": "boolean"
                    },
                    "view_nsfw_guilds": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "activity_joining_restricted_guild_ids",
                    "activity_restricted_guild_ids",
                    "afk_timeout",
                    "allow_accessibility_detection",
                    "allow_activity_party_privacy_friends",
                    "allow_activity_party_privacy_voice_channel",
                    "animate_emoji",
                    "animate_stickers",
                    "contact_sync_enabled",
                    "convert_emoticons",
                    "custom_status",
                    "default_guilds_restricted",
                    "detect_platform_accounts",
                    "developer_mode",
                    "disable_games_tab",
                    "enable_tts_command",
                    "explicit_content_filter",
                    "friend_discovery_flags",
                    "friend_source_flags",
                    "gif_auto_play",
                    "guild_folders",
                    "inline_attachment_media",
                    "inline_embed_media",
                    "locale",
                    "message_display_compact",
                    "native_phone_integration_enabled",
                    "passwordless",
                    "render_embeds",
                    "render_reactions",
                    "restricted_guilds",
                    "show_current_game",
                    "slayer_sdk_receive_dms_in_game",
                    "soundboard_volume",
                    "status",
                    "stream_notifications_enabled",
                    "theme",
                    "timezone_offset",
                    "view_nsfw_commands",
                    "view_nsfw_guilds"
                ]
            },
            "PrideBadgesSchema": {
                "type": "object",
                "properties": {
                    "flags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "flags"
                ]
            },
            "GuildAvailableSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "available": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "available",
                    "id"
                ]
            },
            "InviteListResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/PublicInvite"
                }
            },
            "FieldErrorResponse": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "$ref": "#/components/schemas/ErrorList"
                    }
                },
                "required": [
                    "code",
                    "errors",
                    "message"
                ]
            },
            "ActivitySchema": {
                "type": "object",
                "properties": {
                    "afk": {
                        "type": "boolean"
                    },
                    "status": {
                        "$ref": "#/components/schemas/SetPrivateStatus"
                    },
                    "activities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Activity"
                        }
                    },
                    "since": {
                        "type": "integer"
                    },
                    "client_status": {
                        "$ref": "#/components/schemas/ClientStatus"
                    }
                },
                "required": [
                    "status"
                ]
            },
            "ApplicationAuthorizeSchema": {
                "type": "object",
                "properties": {
                    "authorize": {
                        "type": "boolean"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "channel_id": {
                        "type": "string"
                    },
                    "webhook_channel_id": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "string"
                    },
                    "integration_type": {
                        "type": "integer"
                    },
                    "location_context": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": true
                    },
                    "dm_settings": {
                        "type": "object",
                        "properties": {},
                        "additionalProperties": true
                    },
                    "captcha_key": {
                        "type": "string"
                    },
                    "connected_account_provider": {
                        "type": "string",
                        "nullable": true
                    },
                    "code": {
                        "minLength": 6,
                        "maxLength": 6,
                        "type": "string"
                    }
                },
                "required": [
                    "authorize"
                ]
            },
            "AutomodMentionSpamRuleSchema": {
                "type": "object",
                "properties": {
                    "mention_total_limit": {
                        "type": "integer"
                    },
                    "mention_raid_protection_enabled": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "mention_raid_protection_enabled",
                    "mention_total_limit"
                ]
            },
            "AutomodSuspectedSpamRuleSchema": {
                "type": "object"
            },
            "AutomodCommonlyFlaggedWordsRuleSchema": {
                "type": "object",
                "properties": {
                    "allow_list": {
                        "type": "array",
                        "items": [
                            {
                                "type": "string"
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "presets": {
                        "type": "array",
                        "items": [
                            {
                                "type": "integer"
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    }
                },
                "required": [
                    "allow_list",
                    "presets"
                ]
            },
            "AutomodCustomWordsRuleSchema": {
                "type": "object",
                "properties": {
                    "allow_list": {
                        "type": "array",
                        "items": [
                            {
                                "type": "string"
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "keyword_filter": {
                        "type": "array",
                        "items": [
                            {
                                "type": "string"
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "regex_patterns": {
                        "type": "array",
                        "items": [
                            {
                                "type": "string"
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    }
                },
                "required": [
                    "allow_list",
                    "keyword_filter",
                    "regex_patterns"
                ]
            },
            "AutomodRuleSchema": {
                "type": "object",
                "properties": {
                    "creator_id": {
                        "type": "string"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "event_type": {
                        "type": "integer"
                    },
                    "exempt_channels": {
                        "type": "array",
                        "items": [
                            {
                                "type": "string"
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "exempt_roles": {
                        "type": "array",
                        "items": [
                            {
                                "type": "string"
                            }
                        ],
                        "minItems": 1,
                        "maxItems": 1
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "position": {
                        "type": "integer"
                    },
                    "trigger_type": {
                        "type": "integer"
                    },
                    "trigger_metadata": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AutomodMentionSpamRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodSuspectedSpamRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodCommonlyFlaggedWordsRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodCustomWordsRuleSchema"
                            }
                        ]
                    }
                },
                "required": [
                    "creator_id",
                    "enabled",
                    "event_type",
                    "exempt_channels",
                    "exempt_roles",
                    "guild_id",
                    "name",
                    "position",
                    "trigger_metadata",
                    "trigger_type"
                ]
            },
            "BackupCodesChallengeSchema": {
                "type": "object",
                "properties": {
                    "password": {
                        "minLength": 1,
                        "maxLength": 72,
                        "type": "string"
                    }
                },
                "required": [
                    "password"
                ]
            },
            "BanCreateSchema": {
                "type": "object",
                "properties": {
                    "delete_message_seconds": {
                        "type": "integer"
                    },
                    "delete_message_days": {
                        "type": "integer"
                    },
                    "reason": {
                        "type": "string"
                    }
                }
            },
            "BanModeratorSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "executor_id": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    }
                },
                "required": [
                    "executor_id",
                    "guild_id",
                    "id",
                    "user_id"
                ]
            },
            "BanRegistrySchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "executor_id": {
                        "type": "string"
                    },
                    "ip": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    }
                },
                "required": [
                    "executor_id",
                    "guild_id",
                    "id",
                    "user_id"
                ]
            },
            "BotModifySchema": {
                "type": "object",
                "properties": {
                    "avatar": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "banner": {
                        "type": "string"
                    }
                }
            },
            "BulkBanSchema": {
                "type": "object",
                "properties": {
                    "user_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "delete_message_seconds": {
                        "type": "integer"
                    }
                },
                "required": [
                    "user_ids"
                ]
            },
            "BulkDeleteSchema": {
                "type": "object",
                "properties": {
                    "messages": {
                        "minItems": 2,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "messages"
                ]
            },
            "ChannelModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "enum": [
                            0,
                            1,
                            10,
                            11,
                            12,
                            13,
                            14,
                            15,
                            16,
                            17,
                            18,
                            2,
                            255,
                            3,
                            4,
                            5,
                            6,
                            7,
                            8,
                            9
                        ],
                        "type": "number"
                    },
                    "topic": {
                        "type": "string",
                        "nullable": true
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "bitrate": {
                        "type": "integer"
                    },
                    "user_limit": {
                        "type": "integer"
                    },
                    "rate_limit_per_user": {
                        "type": "integer"
                    },
                    "position": {
                        "type": "integer"
                    },
                    "invitable": {
                        "type": "boolean"
                    },
                    "permission_overwrites": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "type": {
                                    "$ref": "#/components/schemas/ChannelPermissionOverwriteType"
                                },
                                "allow": {
                                    "type": "string"
                                },
                                "deny": {
                                    "type": "string"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "allow",
                                "deny",
                                "id",
                                "type"
                            ]
                        }
                    },
                    "applied_tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "parent_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "id": {
                        "type": "string"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "rtc_region": {
                        "type": "string",
                        "nullable": true
                    },
                    "default_auto_archive_duration": {
                        "type": "integer",
                        "nullable": true
                    },
                    "default_reaction_emoji": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/DefaultReaction"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "default_sort_order": {
                        "type": "integer",
                        "nullable": true
                    },
                    "default_forum_layout": {
                        "type": "integer",
                        "nullable": true
                    },
                    "default_tag_setting": {
                        "type": "string",
                        "nullable": true
                    },
                    "flags": {
                        "type": "integer"
                    },
                    "default_thread_rate_limit_per_user": {
                        "type": "integer"
                    },
                    "video_quality_mode": {
                        "type": "integer"
                    },
                    "auto_archive_duration": {
                        "type": "integer"
                    },
                    "archived": {
                        "type": "boolean"
                    },
                    "locked": {
                        "type": "boolean"
                    },
                    "available_tags": {
                        "type": "array",
                        "items": {
                            "additionalProperties": false,
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "moderated": {
                                    "type": [
                                        "null",
                                        "boolean"
                                    ]
                                },
                                "emoji_id": {
                                    "type": [
                                        "null",
                                        "string"
                                    ]
                                },
                                "emoji_name": {
                                    "type": [
                                        "null",
                                        "string"
                                    ]
                                },
                                "id": {
                                    "type": [
                                        "null",
                                        "string"
                                    ]
                                }
                            },
                            "required": [
                                "name"
                            ]
                        }
                    },
                    "template": {
                        "type": "string",
                        "nullable": true
                    },
                    "icon_emoji": {
                        "anyOf": [
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": [
                                            "null",
                                            "string"
                                        ]
                                    },
                                    "name": {
                                        "type": [
                                            "null",
                                            "string"
                                        ]
                                    }
                                },
                                "additionalProperties": false
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "theme_color": {
                        "type": "integer",
                        "nullable": true
                    },
                    "application_id": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ChannelPermissionOverwriteSchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/ChannelPermissionOverwriteType"
                    },
                    "allow": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "deny": {
                        "type": "string"
                    }
                },
                "required": [
                    "type"
                ]
            },
            "ChannelReorderSchema": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "position": {
                            "type": "integer"
                        },
                        "lock_permissions": {
                            "type": "boolean"
                        },
                        "parent_id": {
                            "type": [
                                "null",
                                "string"
                            ]
                        }
                    },
                    "additionalProperties": false,
                    "required": [
                        "id"
                    ]
                }
            },
            "CodesVerificationSchema": {
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string"
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "regenerate": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "key",
                    "nonce"
                ]
            },
            "ConnectedAccountSchema": {
                "type": "object",
                "properties": {
                    "external_id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "token_data": {
                        "$ref": "#/components/schemas/ConnectedAccountTokenData"
                    },
                    "friend_sync": {
                        "type": "boolean"
                    },
                    "name": {
                        "type": "string"
                    },
                    "revoked": {
                        "type": "boolean"
                    },
                    "show_activity": {
                        "type": "integer"
                    },
                    "type": {
                        "type": "string"
                    },
                    "verified": {
                        "type": "boolean"
                    },
                    "visibility": {
                        "type": "integer"
                    },
                    "integrations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "metadata_": {},
                    "metadata_visibility": {
                        "type": "integer"
                    },
                    "two_way_link": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "external_id",
                    "name",
                    "type",
                    "user_id"
                ]
            },
            "ConnectedAccountCommonOAuthTokenResponse": {
                "type": "object",
                "properties": {
                    "access_token": {
                        "type": "string"
                    },
                    "token_type": {
                        "type": "string"
                    },
                    "scope": {
                        "type": "string"
                    },
                    "refresh_token": {
                        "type": "string"
                    },
                    "expires_in": {
                        "type": "integer"
                    }
                },
                "required": [
                    "access_token",
                    "scope",
                    "token_type"
                ]
            },
            "ConnectionCallbackSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "insecure": {
                        "type": "boolean"
                    },
                    "friend_sync": {
                        "type": "boolean"
                    },
                    "openid_params": {}
                },
                "required": [
                    "friend_sync",
                    "insecure",
                    "state"
                ]
            },
            "ConnectionUpdateSchema": {
                "type": "object",
                "properties": {
                    "visibility": {
                        "type": "boolean"
                    },
                    "show_activity": {
                        "type": "boolean"
                    },
                    "metadata_visibility": {
                        "type": "boolean"
                    }
                }
            },
            "DmChannelCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "recipients": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "recipient_id": {
                        "type": "string"
                    },
                    "access_tokens": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "EmailDomainLookupSchema": {
                "type": "object",
                "properties": {
                    "allow_multiple_guilds": {
                        "type": "boolean"
                    },
                    "email": {
                        "type": "string"
                    },
                    "use_verification_code": {
                        "type": "boolean"
                    },
                    "guild_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "allow_multiple_guilds",
                    "email",
                    "use_verification_code"
                ]
            },
            "EmailDomainLookupVerifyCodeSchema": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "email",
                    "guild_id"
                ]
            },
            "EmojiCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    },
                    "require_colons": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "image"
                ]
            },
            "ApplicationEmojiModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    }
                }
            },
            "EmojiModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ForgotPasswordSchema": {
                "type": "object",
                "properties": {
                    "login": {
                        "type": "string"
                    },
                    "captcha_key": {
                        "type": "string"
                    }
                },
                "required": [
                    "login"
                ]
            },
            "GreetRequestSchema": {
                "type": "object",
                "properties": {
                    "sticker_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "allowed_mentions": {
                        "$ref": "#/components/schemas/AllowedMentions"
                    },
                    "message_reference": {
                        "type": "object",
                        "properties": {
                            "message_id": {
                                "type": "string"
                            },
                            "channel_id": {
                                "type": "string"
                            },
                            "guild_id": {
                                "type": "string"
                            },
                            "fail_if_not_exists": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "message_id"
                        ]
                    }
                },
                "required": [
                    "sticker_ids"
                ]
            },
            "GuildCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "maxLength": 100,
                        "type": "string"
                    },
                    "region": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "channels": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChannelCreateSchema"
                        }
                    },
                    "system_channel_id": {
                        "type": "string"
                    },
                    "rules_channel_id": {
                        "type": "string"
                    },
                    "guild_template_code": {
                        "type": "string"
                    },
                    "staff_only": {
                        "type": "boolean"
                    }
                }
            },
            "GuildSubscriptionsBulkSchema": {
                "type": "object",
                "properties": {
                    "subscriptions": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/GuildSubscriptionSchema"
                        }
                    }
                },
                "required": [
                    "subscriptions"
                ]
            },
            "GuildSubscriptionSchema": {
                "type": "object",
                "properties": {
                    "activities": {
                        "type": "boolean"
                    },
                    "channels": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "threads": {
                        "type": "boolean"
                    },
                    "typing": {
                        "const": true,
                        "type": "boolean"
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "member_updates": {
                        "type": "boolean"
                    },
                    "thread_member_lists": {
                        "type": "array",
                        "items": {}
                    }
                }
            },
            "GuildTemplateCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "name"
                ]
            },
            "GuildUpdateSchema": {
                "type": "object",
                "properties": {
                    "owner_id": {
                        "pattern": "^[0-9]{1,20}$",
                        "type": "string"
                    },
                    "banner": {
                        "type": "string",
                        "nullable": true
                    },
                    "splash": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "system_channel_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "rules_channel_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "features": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "verification_level": {
                        "type": "integer"
                    },
                    "default_message_notifications": {
                        "type": "integer"
                    },
                    "system_channel_flags": {
                        "type": "integer"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "public_updates_channel_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "afk_channel_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "preferred_locale": {
                        "type": "string"
                    },
                    "premium_progress_bar_enabled": {
                        "type": "boolean"
                    },
                    "discovery_splash": {
                        "type": "string",
                        "nullable": true
                    },
                    "safety_alerts_channel_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "name": {
                        "maxLength": 100,
                        "type": "string"
                    },
                    "region": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string",
                        "nullable": true
                    },
                    "guild_template_code": {
                        "type": "string"
                    },
                    "staff_only": {
                        "type": "boolean"
                    }
                }
            },
            "GuildUpdateWelcomeScreenSchema": {
                "type": "object",
                "properties": {
                    "welcome_channels": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "channel_id": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "emoji_id": {
                                    "type": "string"
                                },
                                "emoji_name": {
                                    "type": "string"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "channel_id",
                                "description"
                            ]
                        }
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "description": {
                        "type": "string"
                    }
                }
            },
            "HubWaitlistSignupSchema": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "school": {
                        "type": "string"
                    }
                },
                "required": [
                    "email",
                    "school"
                ]
            },
            "InviteCreateSchema": {
                "type": "object",
                "properties": {
                    "target_user_id": {
                        "type": "string"
                    },
                    "target_type": {
                        "type": "string"
                    },
                    "validate": {
                        "type": "string"
                    },
                    "max_age": {
                        "type": "integer"
                    },
                    "max_uses": {
                        "type": "integer"
                    },
                    "temporary": {
                        "type": "boolean"
                    },
                    "unique": {
                        "type": "boolean"
                    },
                    "target_user": {
                        "type": "string"
                    },
                    "target_user_type": {
                        "type": "integer"
                    },
                    "flags": {
                        "type": "integer"
                    }
                }
            },
            "APIErrorResponse": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "_errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "message": {
                                                "type": "string"
                                            },
                                            "code": {
                                                "type": "string"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "required": [
                                            "code",
                                            "message"
                                        ]
                                    }
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "_errors"
                            ]
                        }
                    }
                },
                "required": [
                    "code",
                    "errors",
                    "message"
                ]
            },
            "CaptchaRequiredResponse": {
                "type": "object",
                "properties": {
                    "captcha_key": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "captcha_sitekey": {
                        "type": "string"
                    },
                    "captcha_service": {
                        "type": "string"
                    }
                },
                "required": [
                    "captcha_key",
                    "captcha_service",
                    "captcha_sitekey"
                ]
            },
            "APIErrorOrCaptchaResponse": {
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/APIErrorResponse"
                    },
                    {
                        "$ref": "#/components/schemas/CaptchaRequiredResponse"
                    }
                ]
            },
            "AccountStandingResponse": {
                "type": "object",
                "properties": {
                    "classifications": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Classification"
                        }
                    },
                    "guild_classifications": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildClassification"
                        }
                    },
                    "account_standing": {
                        "type": "object",
                        "properties": {
                            "state": {
                                "$ref": "#/components/schemas/AccountStandingState"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "state"
                        ]
                    },
                    "is_dsa_eligible": {
                        "type": "boolean"
                    },
                    "username": {
                        "type": "string"
                    },
                    "discriminator": {
                        "type": "string"
                    },
                    "is_appeal_eligible": {
                        "type": "boolean"
                    },
                    "appeal_eligibility": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AppealEligibility"
                        }
                    }
                },
                "required": [
                    "account_standing",
                    "appeal_eligibility",
                    "classifications",
                    "discriminator",
                    "guild_classifications",
                    "is_appeal_eligible",
                    "is_dsa_eligible",
                    "username"
                ]
            },
            "BackupCodesChallengeResponse": {
                "type": "object",
                "properties": {
                    "nonce": {
                        "type": "string"
                    },
                    "regenerate_nonce": {
                        "type": "string"
                    }
                },
                "required": [
                    "nonce",
                    "regenerate_nonce"
                ]
            },
            "BackupCodeArray": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/BackupCode"
                }
            },
            "CaptchaConfigResponse": {
                "type": "object",
                "properties": {
                    "service": {
                        "anyOf": [
                            {
                                "enum": [
                                    "cap",
                                    "hcaptcha",
                                    "recaptcha"
                                ],
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "sitekey": {
                        "type": "string",
                        "nullable": true
                    },
                    "endpoint": {
                        "type": "string",
                        "nullable": true
                    },
                    "register": {
                        "type": "boolean"
                    },
                    "login": {
                        "type": "boolean"
                    },
                    "password_reset": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "endpoint",
                    "login",
                    "password_reset",
                    "register",
                    "service",
                    "sitekey"
                ]
            },
            "CollectiblesCategoriesResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/CollectiblesCategoryItem"
                }
            },
            "CollectiblesMarketingResponse": {
                "type": "object",
                "properties": {
                    "marketings": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/CollectiblesMarketingItem"
                        }
                    }
                },
                "required": [
                    "marketings"
                ]
            },
            "CollectiblesShopResponse": {
                "type": "object",
                "properties": {
                    "shop_blocks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AnyShopBlock"
                        }
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CollectiblesCategoryItem"
                        }
                    }
                },
                "required": [
                    "categories",
                    "shop_blocks"
                ]
            },
            "DiscoverableGuildsResponse": {
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer"
                    },
                    "guilds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DiscoverableGuild"
                        }
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "limit": {
                        "type": "integer"
                    }
                },
                "required": [
                    "guilds",
                    "limit",
                    "offset",
                    "total"
                ]
            },
            "DiscoverableGuildsSearchResponse": {
                "type": "object",
                "properties": {
                    "guilds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DiscoverableGuild"
                        }
                    },
                    "total_count": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "count": {
                                    "type": "integer"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "count",
                                "id"
                            ]
                        }
                    }
                },
                "required": [
                    "guilds",
                    "limit",
                    "offset",
                    "total_count"
                ]
            },
            "DmMessagesResponseSchema": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/PartialMessage"
                }
            },
            "EmailDomainLookupResponse": {
                "type": "object",
                "properties": {
                    "guilds_info": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/HubGuild"
                        }
                    },
                    "has_matching_guild": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "guilds_info",
                    "has_matching_guild"
                ]
            },
            "EmailDomainLookupVerifyCodeResponse": {
                "type": "object",
                "properties": {
                    "guild": {
                        "$ref": "#/components/schemas/Guild"
                    },
                    "joined": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "guild",
                    "joined"
                ]
            },
            "EmojisResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/EmojiResponse"
                }
            },
            "ApplicationsEmojisResponse": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EmojiResponse"
                        }
                    }
                },
                "required": [
                    "items"
                ]
            },
            "EmojiResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "user": {
                        "$ref": "#/components/schemas/PartialUser"
                    },
                    "require_colons": {
                        "type": "boolean"
                    },
[...]
